.word-wrapper {
	display: inline-block;
	margin-right: 60px;
}

.letter-wrapper {
	display: inline-block;
	margin: 10px 50px 10px 50px;
	padding: 20px 20px 20px 20px;
	align: center;
}

.letter {
	width: 150px;
	height: 200px;
	background-color: transparent;
	position: relative;
	align: center;
}

.bar {
	position: absolute;
	align: center;
}

.vertical {
	width: 35px;
	height: 200px;
}

.horizontal {
	width: 150px;
	height: 35px;
}

.black { 
	background-color: black;
}

.white {
	background-color: white;
}



/*

Position

absolute ~picks it out of the flow of the document and places it from the top left page. remains firm on the page
relative ~stays in the flow of the document
fixed ~similar to absolute but places it on the WINDOW, not page

*/

