.word-wrapper {


}

.letter-wrapper {
	display: inline-block;
	margin: 10px 70px 10px 70px;
	align: center;
	position: relative;
}

.letter {
	background-color: transparent;
	align: center;
	display: inline-block;
	position: absolute;
}

.div {
	display: inline-block;
	vertical-align: top;
}

.bar {
	position: absolute;
	align: center;
}

.vertical {
	width: 18px;
	height: 150px;
}

.horizontal {
	width: 100px;
	height: 18px;
}

.black { 
	background-color: black;
}

.white {
	background-color: white;
}



/*

Position

absolute ~picks it out of the flow of the document and places it from the top left page. remains firm on the page
relative ~stays in the flow of the document
fixed ~similar to absolute but places it on the WINDOW, not page

*/

