body {
    background-color: #B0C4DE;
    font-family: Bebas, Futura, Helvetica Light;
    font-size: 10px;
    color: #E9E9E9;
    text-align: center;
}

a {
    color: #696969;
    text-decoration: none;
}

p {
    text-align: center; 
}

h1 { 
   color: #B0C4DE; 
   background: #F0F8FF;
   padding: 10px; 
   top: 40%;
   alignment-adjust: center;
   position: absolute;
}