body {
    background-color: #212225;
    font-family: Bebas, Helvetica;
    font-size: 30px;
    color: #E9E9E9;
    text-align: center;
}

a {
    color: #C2F0FF;
    text-decoration: none;
}

p {
    text-align: center; 
}