body {
    background-color: #808080;
}
    
div {
    background-image: 
    radial-gradient(circle at 100% 150%, #e0e8ff 24%, black 25%, black 28%, #e0e8ff 29%, #e0e8ff 36%, black 36%, black 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #e0e8ff 24%, black 25%, black 28%, #e0e8ff 29%, #e0e8ff 36%, black 36%, black 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, black 10%, #e0e8ff 11%, #e0e8ff 23%, black 24%, black 30%, #e0e8ff 31%, #e0e8ff 43%, black 44%, black 50%, #e0e8ff 51%, #e0e8ff 63%, black 64%, black 71%, transparent 71%, transparent);
}

p {
    font-family: Avenir, Helvetica Light, Helvetica;
    font-size: 9px;
    text-align: center;
    color: #E6E6E6;
}

.repeat1 {
    background-color: #FFB6C1;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    display: inline-block;
    margin: -10px;
    opacity: 0.9;
}

.repeat1:hover {
    background-color: #C2F0FF;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    opacity: 1;
}