body {
    background-color: #212225;
    font-family: Bebas, Futura, Helvetica;
    color: #E9E9E9;
    text-align: center;
}

a {
    color: #C2F0FF;
    text-decoration: none;
}

p {
    font-family: Gill Sans, Helvetica;
    text-align: left;
}

.special {
    text-align: center;
}