body, html {
    background-image: url("page4image1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-color: black;
    color: white;
    z-index: 0;
    font-family: Avenir;
    font-size: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

#point {
    background-image: url("page4image2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: none;
    position: fixed;
    top: -33%;
    left: 0%;
    z-index: 1;
    width: 100%;
    border: 0px;
    font-family: Avenir Light;
}

#blue {
    background-image: url("page2image5.png");
    position: fixed;    
    top: -33%;
    left: 0%;
    z-index: 2;
    width: 100%;
    display: none;
    border: 0px;
}

#purple {
    background-image: url("page2image4.jpg");
    background-repeat: no-repeat;
    background: none;
    position: fixed;
    width: 2000px;
    height: auto;
    top: 0;
    left: 0;
    z-index: 3;
    margin: 0 auto;
    max-width: 100%;
    display: none;
}

#toggle {
    background-color: transparent;
    font-family: Acumin, Bebas, Futura, Helvetica Light;
    font-size: 43px;
    color: #ff369b;
    border: 0px;
    border-color: transparent;
    position: fixed;
    top: 25%;
    left: 22%;
    z-index:1000;
}

#toggle:hover {
    border: 0px;
    border-color: transparent;
    color: #000000;
}

#toggle:visited {
     border: 0px;
     border-color: transparent;
     color: #ff369b; 
}

#hole {
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: Acumin, Bebas, Futura, Helvetica Light;
    font-size: 40px;
    color: #ff369b;
    text-align: center;
    top: 20%;
    left: 30%;
    z-index:900;
    border: 1px;
    border-color: #ff369b;
    border-style: dashed;
    width: 200px;
    height: 200px;
    position: relative;
    margin: auto;
    border-radius: 50%;
    line-height: 200px;
}

#snow{
	background: none;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 15s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}

@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

canvas {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

img {
    position: absolute;
    cursor: pointer;
}

#container {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: transparent;
    width: 1600px;
    height: 1200px;
    left: 50%;
    right: 0;
    top: 100%;
    bottom: 0;
    margin: auto;
    z-index: 5;
}