body, html {
    background-image: url("controlpane.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
}

p {
    font-family: Bodoni 72 Book, Georgia;
    font-size: 34px;
    text-align: left;
    color: black;
    z-index: 1000;
}

a:hover {
    cursor: url('finger.png'), auto;
}

#engine:hover {
    cursor: url('finger.png'), auto;
}

#speed:hover {
    cursor: url('finger.png'), auto;
}

#stop:hover {
    cursor: url('finger.png'), auto;
}

#engine {
    background-color: #009900;
    color: white;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    left: 73.5%;
    bottom: 45%;
    position: absolute;
    font-size: 40px;
    font-family: Impact;
    text-align: center;
    line-height: 140px;
}

#speed {
    background-color: #E5C500;
    color: white;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    left: 73.5%;
    bottom: 28.5%;
    position: absolute;
    font-size: 40px;
    font-family: Impact;
    text-align: center;
    line-height: 140px;
}

#stop {
    background-color: red;
    color: white;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    left: 73.5%;
    bottom: 27%;
    position: relative;
    font-size: 40px;
    font-family: Impact;
    text-align: center;
    line-height: 140px;
}

#fun {
    position: fixed;
    left: 90%;
    bottom: 87%;
}

#sea {
    position: fixed;
    left: 88.5%;
    bottom: 71%;
}

#park {
    position: absolute;
    left: 1%;
    top: 5%;
}