body,html {
    background: -webkit-linear-gradient(#F0FFFF, #E0FFFF, #82CAFF, #5CB3FF, #82CAFF, #151B54, #151B54, #151B54, #000000);
    height:150%;
    width: 100%;
    font-family: Bodoni 72 Book, Bodoni, Georgia;
    font-size: 35px;
    color: #3C6761;
    line-height: 45px; 
    text-align: center;
    cursor: url('bird.png'), auto;
    margin: 0;
}

p {
    font-family: Bodoni 72 Book, Bodoni, Georgia;
    font-size: 35px;
    color: #3C6761;
    text-align: center;
    left: 20%;
    top: 30%;
    width: 800px;
    position: absolute;
}

a:hover {
    cursor: url('bird.png'), auto;
}

#circle {
    background: -webkit-radial-gradient(center, ellipse cover, rgba(239,128,23,0.65) 0%,rgba(239,128,23,0.65) 1%,rgba(239,128,23,0.65) 2%,rgba(242,165,24,0.65) 11%,rgba(242,165,24,0.65) 13%,rgba(242,180,24,0.65) 21%,rgba(242,178,24,0.65) 22%,rgba(242,173,24,0.65) 24%,rgba(242,170,24,0.65) 25%,rgba(242,165,24,0.65) 27%,rgba(242,165,24,0.65) 29%,rgba(242,165,24,0.6) 31%,rgba(242,184,24,0.37) 41%,rgba(234,200,46,0.16) 50%,rgba(240,172,28,0.06) 54%,rgba(242,165,24,0.06) 55%,rgba(237,218,111,0.06) 56%,rgba(239,223,120,0.06) 57%,rgba(244,234,137,0.06) 59%,rgba(244,235,140,0.06) 60%,rgba(244,236,143,0.06) 61%,rgba(244,236,146,0.06) 62%,rgba(244,237,149,0.06) 63%,rgba(245,238,155,0.06) 65%,rgba(247,241,172,0.06) 71%,rgba(247,241,175,0) 72%,rgba(247,242,178,0.06) 73%,rgba(248,243,184,0.06) 75%,rgba(249,244,193,0) 78%,rgba(255,255,255,0) 100%);
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-position: center center;
    left: 20%;
    position: fixed;
}

#sailboat {
    position: absolute;
    left: 70%;
    top: 70%;
}

#sailboat:hover {
    position: absolute;
    left: 70%;
    top: 70%;
    -webkit-filter: invert(1);
}

#surfing {
    position: absolute;
    left: 20%;
    top: 110%;
}

#surfing:hover {
    position: absolute;
    left: 20%;
    top: 110%;
    -webkit-filter: invert(1);
}

#fishes {
    position: absolute;
    width: 650px;
    left: 40%;
    top: 160%;
}

#fishes:hover {
    position: absolute;
    width: 650px;
    left: 40%;
    top: 160%;
    -webkit-filter: invert(1);
}