body, html {
	margin: 0;
	padding: 0;
	background-color: black;
}

.hide {
	display: none;
}

.yellow { color: yellow; }
.blue { color: blue; }
.red { color: red; }

.object {
	font-size: 40px;
	margin: 20px;
}