body, html {
    background-image: url("assets/img/bgimage1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
}

#container {
  height: 100%;
  width: 100%;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#link, a {
  z-index: 100;
  color: #FFE303;
  font-size: 40px;
  font-family: “Lucida Console”, Monaco, monospace;
  font-weight: bold;
  font-style: italic;
  top: 150px;
  left: 200px;
}

a:hover{
	color: #007FFF;
}