body, html {
    background-image: url("assets/img/cup.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
}

.text, a {
  z-index: 100;
  color: #FFE303;
  font-size: 40px;
  font-family: “Lucida Console”, Monaco, monospace;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  position: absolute;
  top: 200px;
  left: 50px;
  width: 100%;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

a:hover{
	color: #007FFF;
}

.image {
  position: relative;
  background:url('assets/img/cup.png') no-repeat center center ;
  background-size:cover;
  width:100%;
  padding-top:20%;
  padding-bottom:20%;
}