html, body {
	margin: 0;
    padding: 0;
	height: 100%;
    width: 200%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;

}

.gradient {
    background: cover;
    background: -webkit-radial-gradient(circle at top left, white, white, white, white, white, white, white, #FAFAFA, #D3D3D3, #bdbdbd, #939393, #696969, #3f3f3f, #151515, black, black, black, black, black, black, black, black, black, black, black, black, black, black);
    background: -moz-radial-gradient(circle at top left, white, white, white, white, white, white, white, #FAFAFA, #D3D3D3, #bdbdbd, #939393, #696969, #3f3f3f, #151515, black, black, black, black, black, black, black, black, black, black, black, black, black, black);
    background: -o-radial-gradient(circle at top left, white, white, white, white, white, white, white, #FAFAFA, #D3D3D3, #bdbdbd, #939393, #696969, #3f3f3f, #151515, black, black, black, black, black, black, black, black, black, black, black, black, black, black);
    background: radial-gradient(circle at top left, white, white, white, white, white, white, white, #FAFAFA, #D3D3D3, #bdbdbd, #939393, #696969, #3f3f3f, #151515, black, black, black, black, black, black, black, black, black, black, black, black, black, black);
    -webkit-transition: background 1s ease-out;
    -moz-transition: background 2s ease-out;
    -o-transition: background 2s ease-out;
    transition: all 1s ease-out;
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    cursor: pointer;
    vertical-align: top;
}

.gradient:hover {
    background-position: 100%;
}

.button-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: red;
    height: 50px;
}

.button-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: blue;
    height: 50px;
}

.first {
    height: 100%;
    width: 100%;
    position: relative;
    vertical-align: top;
}

.word1 {
	top: 35%;
    left: -55px;
    position: absolute;
    opacity: 1;
}

.word2 {
    top: 35%;
    left: -55px;
    position: absolute;
    opacity: 0;
}

.first:hover .word2 { opacity: 1; }
.first:hover .word1 { opacity: 0; }


.second {
    height: 100%;
    width: 100%;
    position: relative;
}

.word3 {
    top: 35%;
    left: 0px;
    opacity: 0;
    position: absolute;
}

.second:hover .word3 { opacity: 1; }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%,
                                              rgba(0, 0, 0, 1) 75%, transparent 100%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 0%)
}
