* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face { 
	font-family: OCR A Std; 
	src: url('OCRAStd.otf'); 
} 

body, html {
  margin: 0;
  padding: 0px;
  font-size: 0;
  line-height: 0;
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: OCR A Std;
}

.box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid white;
}

.home {
  visibility: visible;
}

.home:target {
  visibility: hidden;
}

.game {
  visibility: hidden;
}

.game:target {
  visibility: visible;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #00DCFF;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: OCR A Std;
}

.popup .close:hover {
  color: #00DCFF;
}

.popup .content {
  max-height: 70%;
  overflow: auto;
}

.button {
  position: fixed;
  border: none;
  background-color: white;
  font-family: OCR A Std;
  color: black;
  font-size: 20px;
  width: 91px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
}

.button1 {
  top: 29px;
  left: 0px;
}

.button2 {
  left: 75%;
  bottom: 18%;
}

.button3 {
  right: 0;
  top: 0;
}

.text {
	position: fixed;
	top: 30px;
	left: 30px;
}

.colors {
  position: fixed;
  top: 60px;
  right: 0;
  width: 30px;
}

.colors div {
  width: 30px;
  height: 50px;
}

.pink { background-color: #FF33C7; }
.red { background-color: red; }
.orange { background-color: #FFA533; }
.yellow { background-color: #FFF933; }
.green { background-color: lime; }
.blue { background-color: blue; }
.purple { background-color: #BD00FF; }
.brown { background-color: #734C24; }
.white { background-color: white; }
.black { background-color: black; }

.done {
  position: fixed;
  bottom:0px;
  right:0;
  font-size: 40px;
  line-height: 20px;
  padding: 40px;
  background-color: #00DCFF;
}