* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face { 
	font-family: OCR A Std; 
	src: url('OCRAStd.otf'); 
} 

body, html {
  margin: 0;
  padding: 0px;
  font-size: 0;
  line-height: 0;
  background-color: #474747;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: OCR A Std;
}

.box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  position: relative;
}

.home {
  visibility: visible;
}

.home:target {
  visibility: hidden;
}

.game {
  visibility: hidden;
}

.game:target {
  visibility: visible;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 40;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 400px;
  height: 150px;
  position: absolute;
  left: 0;
  transition: all 5s ease-in-out;
  z-index: 41;
}

.popup, .close {
  position: absolute;
  top: 20px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #00DCFF;
  z-index: 41;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-size: 20px;
  font-family: OCR A Std;
  z-index: 42;
}

.popup, .close:hover {
  color: #black;
}

.content {
  font-size: 15px;
  line-height: 18px;
  font-family: OCR A Std;
  color: black;
  overflow: auto;
  z-index: 42;
}

.button {
  position: absolute;
  background-color: rgba(0,220,225,0.5);
  color: white;
  border: 3px solid #00DCFF;
  font-family: OCR A Std;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
}

.button:hover {
  border: 3px solid white;
  color: #00DCFF;
}

.button1 {
  top: 30px;
  left: 0px;
  font-size: 20px;
  width: 90px;
  height: 30px;
  line-height: 30px;
}

.button2 {
  left: 930px;
  top: 480px;
  font-size: 60px;
  width: 240px;
  height: 90px;
  line-height: 90px;
}

.button3 {
  top: 30px;
  left: 0px;
  font-size: 20px;
  width: 90px;
  height: 30px;
  line-height: 30px;
}

.next {
  bottom: 25px;
  left: 42%;
  font-size: 40px;
  width: 182px;
  height: 60px;
  line-height: 60px;
  z-index: 50;
  visibility: hidden;
}

.done {
  bottom: 25px;
  left: 42%;
  width: 182px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
}

.text {
	position: fixed;
	top: 30px;
	left: 30px;
}

.colors {
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  z-index: 10;
}

.colors div {
  width: 50px;
  height: 51px;
  cursor: pointer;
}

.colors div:hover {
  border: 5px dashed #00DCFF;
}

.pink { background-color: #FF33C7; }
.red { background-color: red; }
.orange { background-color: #FFA533; }
.yellow { background-color: #FFF933; }
.green { background-color: lime; }
.blue { background-color: blue; }
.purple { background-color: #BD00FF; }
.brown { background-color: #734C24; }
.white { background-color: white; }
.black { background-color: black; }
.clear { background-image: url("trash.png"); background-repeat: no-repeat; background-position: center; border: 1px solid #00CDFF;}

/*title*/
.square {
  position: absolute;
  background-color: #ffffff;
  z-index: 7;
}

.title1 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 30px;
}

.title2 { 
  height: 30px;
  width: 30px;
  top: 210px; 
  left: 60px;
}

.title3 { 
  height: 90px;
  width: 30px;
  top: 210px; 
  left: 90px;
}

.title4 { 
  height: 30px;
  width: 30px;
  top: 270px; 
  left: 60px;
}

.title5 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 150px;
}

.title6 { 
  height: 30px;
  width: 60px;
  top: 330px; 
  left: 180px;
}

.title7 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 270px;
}

.title8 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 330px;
}

.title9 { 
  height: 30px;
  width: 30px;
  top: 210px; 
  left: 300px;
}

.title10 { 
  height: 30px;
  width: 30px;
  top: 270px; 
  left: 300px;
}

.title11 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 390px;
}

.title12 { 
  height: 30px;
  width: 60px;
  top: 210px; 
  left: 420px;
}

.title13 { 
  height: 30px;
  width: 60px;
  top: 330px; 
  left: 420px;
}

.title14 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 510px;
}

.title15 { 
  height: 30px;
  width: 60px;
  top: 210px; 
  left: 540px;
}

.title16 { 
  height: 30px;
  width: 60px;
  top: 270px; 
  left: 540px;
}

.title17 { 
  height: 30px;
  width: 60px;
  top: 330px; 
  left: 540px;
}

.title18 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 630px;
}

.title19 { 
  height: 30px;
  width: 30px;
  top: 240px; 
  left: 660px;
}

.title20 { 
  height: 30px;
  width: 30px;
  top: 270px; 
  left: 690px;
}

.title21 { 
  height: 30px;
  width: 30px;
  top: 300px; 
  left: 720px;
}

.title22 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 750px;
}

.title23 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 810px;
}

.title24 {
  height: 30px;
  width: 30px;
  top: 210px; 
  left: 840px;
}

.title25 {
  height: 30px;
  width: 30px;
  top: 330px; 
  left: 840px;
}

.title26 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 870px;
}

.title27 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 930px;
}

.title28 { 
  height: 30px;
  width: 30px;
  top: 240px; 
  left: 960px;
}

.title29 { 
  height: 30px;
  width: 30px;
  top: 270px; 
  left: 990px;
}

.title30 { 
  height: 30px;
  width: 30px;
  top: 240px; 
  left: 1020px;
}

.title31 { 
  height: 150px;
  width: 30px;
  top: 210px; 
  left: 1050px;
}

.title32 { 
  height: 90px;
  width: 30px;
  top: 210px; 
  left: 1110px;
}

.title33 { 
  height: 90px;
  width: 30px;
  top: 210px; 
  left: 1170px;
}

.title34 { 
  height: 90px;
  width: 30px;
  top: 270px; 
  left: 1140px;
}



.start-message {
  padding: 20px;
  background: white;
  border-radius: 5px;
  border: 2px solid white;
  width: 550px;
  height: 150px;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  color: black;
  z-index: 41;
  display: none;
  line-height: 1.2em;
}

.close-start-message {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  line-height: 40px;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  z-index: 41;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.5);
  cursor:pointer;
}

.close-start-message:hover {
  opacity: 1;
  color: white;
  background: rgba(0, 220,255, 0.5);
  border: 3px solid #00cdff;
}

.start-message.show { display: block; }
.start-message div { display: inline-block; }

.text1, .text2, .text3, .text4 {
  color: #00CDFF;
}